/* Default styling */
.content-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 50px);
    background-color: #d7d7d7;
}

.grid-item { font-size: 2em; }

/* Exercise */
.content-grid { padding: .5rem; }

.grid-group-1 { background-color: red; }
.grid-group-2 { background-color: green; }
.grid-group-3 { background-color: blue; }
.grid-group-4 { background-color: yellow; }
.grid-group-5 { background-color: orange; }
.grid-group-6 { background-color: purple; }

.grid-group-1.grid-item-1 { grid-column: 2; grid-row: 6; }
.grid-group-1.grid-item-2 { grid-column: 3; grid-row: 6; }
.grid-group-1.grid-item-3 { grid-column: 3; grid-row: 5; }
.grid-group-1.grid-item-4 { grid-column: 4; grid-row: 6; }

.grid-group-2.grid-item-1 { grid-column: 1; grid-row: 3; }
.grid-group-2.grid-item-2 { grid-column: 1; grid-row: 4; }
.grid-group-2.grid-item-3 { grid-column: 1; grid-row: 5; }
.grid-group-2.grid-item-4 { grid-column: 1; grid-row: 6; }

.grid-group-3.grid-item-1 { grid-column: 2; grid-row: 4; }
.grid-group-3.grid-item-2 { grid-column: 3; grid-row: 4; }
.grid-group-3.grid-item-3 { grid-column: 4; grid-row: 4; }
.grid-group-3.grid-item-4 { grid-column: 4; grid-row: 5; }

.grid-group-4.grid-item-1 { grid-column: 5; grid-row: 6; }
.grid-group-4.grid-item-2 { grid-column: 6; grid-row: 6; }
.grid-group-4.grid-item-3 { grid-column: 6; grid-row: 5; }
.grid-group-4.grid-item-4 { grid-column: 6; grid-row: 4; }

.grid-group-5.grid-item-1 { grid-column: 5; grid-row: 2; }
.grid-group-5.grid-item-2 { grid-column: 5; grid-row: 3; }
.grid-group-5.grid-item-3 { grid-column: 5; grid-row: 4; }
.grid-group-5.grid-item-4 { grid-column: 5; grid-row: 5; }

.grid-group-6.grid-item-1 { grid-column: 2; grid-row: 2; }
.grid-group-6.grid-item-2 { grid-column: 3; grid-row: 2; }
.grid-group-6.grid-item-3 { grid-column: 3; grid-row: 3; }
.grid-group-6.grid-item-4 { grid-column: 4; grid-row: 3; }

@media (min-width: 500px) {
    .content-grid { grid-template-rows: repeat(6, 90px); }
}

@media (min-width: 900px) {
    .content-grid { grid-template-rows: repeat(6, 140px); }
}
