/* Some default styles */
body { font-family: Arial, sans-serif; }

a {
    display: inline-block;
    margin: 1rem;
    padding: .5rem;
}

.grid-container {
    min-height: 600px;
    padding: 1rem;
    background-color: #e1e1e1;
}

.grid-item { padding: .5rem; }

.grid-item span { font-size: 2em; }

.grid-item p { margin-bottom: 0; }

.item-1 { background: #7FDBFF; }
.item-2 { background: #39CCCC; }
.item-3 { background: #3D9970; }
.item-4 { background: #2ECC40; }
.item-5 { background: #01FF70; }

/* Grid stuff */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "header header side-bar"
        "menu main-content side-bar"
        "menu main-content side-bar"
        "menu footer footer";
    /*grid-template-areas:*/
        /*"header header side-bar"*/
        /*"menu main-content side-bar"*/
        /*"menu . side-bar"*/
        /*"menu footer footer";*/
    /*grid-template-areas:*/
        /*"header header side-bar"*/
        /*"menu main-content side-bar"*/
        /*"menu . side-bar"*/
        /*". footer footer";*/
    /*grid-template-areas:*/
        /*"header header ."*/
        /*"menu main-content side-bar"*/
        /*"menu main-content side-bar"*/
        /*". footer footer";*/
}

.item-1 { grid-area: header; }
.item-2 { grid-area: side-bar; }
.item-3 { grid-area: footer; }
.item-4 { grid-area: main-content; }
.item-5 { grid-area: menu; }
